<html>

<head>
    <title>TranslateTogether</title>

    <script>
    (function(){(function(){function e(a){this.t={};this.tick=function(a,c,b){this.t[a]=[void 0!=b?b:(new Date).getTime(),c];if(void 0==b)try{window.console.timeStamp("CSI/"+a)}catch(d){}};this.tick("start",null,a)}var a;window.performance&&(a=window.performance.timing);var f=a?new e(a.responseStart):new e;window.mobilespeed_jstiming={Timer:e,load:f};if(a){var c=a.navigationStart,d=a.responseStart;0<c&&d>=c&&(window.mobilespeed_jstiming.srt=d-c)}if(a){var b=window.mobilespeed_jstiming.load;0<c&&d>=c&&(b.tick("_wtsrt",
            void 0,c),b.tick("wtsrt_","_wtsrt",d),b.tick("tbsd_","wtsrt_"))}try{a=null,window.chrome&&window.chrome.csi&&(a=Math.floor(window.chrome.csi().pageT),b&&0<c&&(b.tick("_tbnd",void 0,window.chrome.csi().startE),b.tick("tbnd_","_tbnd",c))),null==a&&window.gtbExternal&&(a=window.gtbExternal.pageT()),null==a&&window.external&&(a=window.external.pageT,b&&0<c&&(b.tick("_tbnd",void 0,window.external.startE),b.tick("tbnd_","_tbnd",c))),a&&(window.mobilespeed_jstiming.pt=a)}catch(g){}})();})();
  </script>
    <script>
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://v4.pingendo.com/assets/bootstrap/themes/default.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav class="bg-faded bg-primary m-y-1 navbar navbar-dark navbar-full p-y-1">
    <a class="navbar-brand text-inverse" href="main">TranslateTogether</a>
    <ul class="lead nav navbar-nav pull-right">
        <li class="nav-item text-inverse">
            <a class="nav-link" href="@{Users.profile}">${user.name}</a>
        </li>
        <li class="nav-item text-inverse">
            <a class="nav-link" href="#">Пусто</a>
        </li>
        <li class="nav-item text-inverse">
            <a class="nav-link" href="@{logout}">Выйти</a>
        </li>
    </ul>
</nav>
<div class="section">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-3 text-xs-left">
            <div class="btn-group btn-group-vertical" draggable="true">
                <div class="btn-group btn-group-lg">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font size="4"> Мои команды </font></a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item">
                            #{list items:userTeams, as:'team'}
                                <td class="main">
                                    <form action="@{Teams.team}" method="POST" accept-charset="${_response_encoding}">
                                        <a class="dropdown-item" href="@{Application.main_team}?teamId=${team.id}">${team.name}</a>
                                        *{<input type="hidden" name="teamId" value="${team.id}" id="myTeamName" />}*
                                    </form>
                                </td>
                            #{/list}
                        </a>
                        <div class="dropdown-divider">
                        </div><a class="dropdown-item" href="main_new_team">Создать новую команду</a></div>
                </div>
                <div class="btn-group btn-group-lg">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font size="4"> Мои проекты </font></a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item">
                            #{list items:userProjects, as:'project'}
                                <a class="dropdown-item" href="@{Application.main_project}?projectId=${project.id}">${project.name}</a>
                            #{/list}
                        </a>
                        <div class="dropdown-divider">
                        </div><a class="dropdown-item" href="main_new_project">Создать новый проект</a></div>
                </div>
                <p> </p>
                <a href="@{main_all_teams}" class="btn btn-primary"><font size="4"> Все команды </font></a>
                <a href="@{main_all_projects}" class="btn btn-primary"><font size="4">Все проекты </font></a>
                </div>
                </div>
            <div class="col-md-9" id="includedContent">
                #{doLayout /}
            </div>
            </div>
        </div>
        </div>
<div class="">
    <div class="layer">
        <div class="row">
            <div class="">
                <p class="" draggable="true">
                <div id="thread">
                    <script type="text/html" id="message_tmpl">
                        <% if(event.type == 'message') { %>
                        <div class="message <%= event.user == '${user}' ? 'you' : '' %>">
                            <h2><%= event.user %></h2>
                            <p>
                                <%= event.text %>
                            </p>
                        </div>
                        <% } %>
                        <% if(event.type == 'join') { %>
                        <div class="message notice">


                        </div>
                        <% } %>
                        <% if(event.type == 'leave') { %>
                        <div class="message notice">

                        </div>
                        <% } %>
                        <% if(event.type == 'quit') { %>
                        <div class="message important">
                            <h2></h2>
                            <p>
                                You are now disconnected!
                            </p>
                        </div>
                        <% } %>
                    </script>
                </div>

                </p>
            </div>
        </div>
    </div>

                <div id="newMessage">
                    <input type="text" id="message" autocomplete="off" autofocus size="10">
                    <input type="submit" value="Отправить" id="send">
                </div>

                <script type="text/javascript">

    // Create a socket
    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
    var socket = new WS('@@{ChatWebSocket.ChatRoomSocket.join()}')

    // Display a message
    var display = function(event) {
        $('#thread').append(tmpl('message_tmpl', {event: event}));

        $('#thread').animate({
         scrollTop: $("#thread").height()
        }, 0);
    }

    // Message received on the socket
    socket.onmessage = function(event) {
        var parts = /^([^:]+):([^:]+)(:(.*))?$/.exec(event.data)
        display({
            type: parts[1],
            user: parts[2],
            text: parts[4]
        })
    }

    $('#send').click(function(e) {
        var message = $('#message').val()
        $('#message').val('')
        socket.send(message)
    });

    $('#message').keypress(function(e) {
        if(e.charCode == 13 || e.keyCode == 13) {
            $('#send').click()
            e.preventDefault()
        }
    })

</script>

</div>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
<script src="@{'/public/javascripts/jquery-1.5.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script>
    (function(){var d="webkitvisibilitychange",g="_ns";if(window.mobilespeed_jstiming){window.mobilespeed_jstiming.a={};window.mobilespeed_jstiming.b=1;var n=function(b,a,e){var c=b.t[a],f=b.t.start;if(c&&(f||e))return c=b.t[a][0],void 0!=e?f=e:f=f[0],Math.round(c-f)},p=function(b,a,e){var c="";window.mobilespeed_jstiming.srt&&(c+="&srt="+window.mobilespeed_jstiming.srt,delete window.mobilespeed_jstiming.srt);window.mobilespeed_jstiming.pt&&(c+="&tbsrt="+window.mobilespeed_jstiming.pt,delete window.mobilespeed_jstiming.pt);try{window.external&&window.external.tran?
            c+="&tran="+window.external.tran:window.gtbExternal&&window.gtbExternal.tran?c+="&tran="+window.gtbExternal.tran():window.chrome&&window.chrome.csi&&(c+="&tran="+window.chrome.csi().tran)}catch(v){}var f=window.chrome;if(f&&(f=f.loadTimes)){f().wasFetchedViaSpdy&&(c+="&p=s");if(f().wasNpnNegotiated){var c=c+"&npn=1",h=f().npnNegotiatedProtocol;h&&(c+="&npnv="+(encodeURIComponent||escape)(h))}f().wasAlternateProtocolAvailable&&(c+="&apa=1")}var l=b.t,t=l.start,f=[],h=[],k;for(k in l)if("start"!=k&&
            0!=k.indexOf("_")){var m=l[k][1];m?l[m]&&h.push(k+"."+n(b,k,l[m][0])):t&&f.push(k+"."+n(b,k))}delete l.start;if(a)for(var q in a)c+="&"+q+"="+a[q];(a=e)||(a="https:"==document.location.protocol?"https://csi.gstatic.com/csi":"http://csi.gstatic.com/csi");return[a,"?v=3","&s="+(window.mobilespeed_jstiming.sn||"mobilespeed")+"&action=",b.name,h.length?"&it="+h.join(","):"",c,"&rt=",f.join(",")].join("")},r=function(b,a,e){b=p(b,a,e);if(!b)return"";a=new Image;var c=window.mobilespeed_jstiming.b++;window.mobilespeed_jstiming.a[c]=
            a;a.onload=a.onerror=function(){window.mobilespeed_jstiming&&delete window.mobilespeed_jstiming.a[c]};a.src=b;a=null;return b};window.mobilespeed_jstiming.report=function(b,a,e){if("prerender"==document.webkitVisibilityState){var c=!1,f=function(){if(!c){a?a.prerender="1":a={prerender:"1"};var h;"prerender"==document.webkitVisibilityState?h=!1:(r(b,a,e),h=!0);h&&(c=!0,document.removeEventListener(d,f,!1))}};document.addEventListener(d,f,!1);return""}return r(b,a,e)};var u=function(b,a,e,c){return 0<
            e?(c?b.tick(a,c,e):b.tick(a,"",e),!0):!1};window.mobilespeed_jstiming.getNavTiming=function(b){if(window.performance&&window.performance.timing){var a=window.performance.timing;u(b,"_dns",a.domainLookupStart)&&u(b,"dns_",a.domainLookupEnd,"_dns");u(b,"_con",a.connectStart)&&u(b,"con_",a.connectEnd,"_con");u(b,"_req",a.requestStart)&&u(b,"req_",a.responseStart,"_req");u(b,"_rcv",a.responseStart)&&u(b,"rcv_",a.responseEnd,"_rcv");if(u(b,g,a.navigationStart)){u(b,"ntsrt_",a.responseStart,g);u(b,"nsfs_",
            a.fetchStart,g);u(b,"nsrs_",a.redirectStart,g);u(b,"nsre_",a.redirectEnd,g);u(b,"nsds_",a.domainLookupStart,g);u(b,"nscs_",a.connectStart,g);u(b,"nsrqs_",a.requestStart,g);var e=!1;try{e=window.external&&window.external.startE}catch(c){}!e&&window.chrome&&window.chrome.csi&&(e=Math.floor(window.chrome.csi().startE));e&&(u(b,"_se",e),u(b,"sens_",a.navigationStart,"_se"));u(b,"ntplt0_",a.loadEventStart,g);u(b,"ntplt1_",a.loadEventEnd,g);window.chrome&&window.chrome.loadTimes&&(a=window.chrome.loadTimes().firstPaintTime)&&
            u(b,"nsfp_",1E3*a,g)}}}};})();
  </script>
<script>
    (function(){var a=window.mobilespeed_jstiming,b=a.load;window.top==window&&window.addEventListener("load",function(){b.name="load";b.tick("ol");a.getNavTiming(b);setTimeout(function(){a.report(b,{e:"default_policy"})},300)},!1);})();
  </script>


</body>

</html>