#{extends './main_root.html' /}


<h1>${title}</h1>

#{if flash.error}
<p class="error"> <font color="#ff0000" size="5">&{flash.error} </font></p>
#{/if}


<div class="p-y-3 section" draggable="true">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="card-deck-wrapper">
                #{list items:teams, as:'team'}
                    <div class="card-deck">

                        <div class="card">
                            <div class="card-header">&{team.name}</div>
                            <img class="card-img-top img-fluid" src="@{Teams.getPicture(team.id)}" alt="Card image cap" width="200" height="200" >
                            <div class="card-block">
                                <p>${team.description} </p>
                                <p>
                                    <input type="submit" value="Присоединиться к команде" />
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">&{team.name}</div>
                            <img class="card-img-top img-fluid" src="@{Teams.getPicture(team.id)}" alt="Card image cap" width="200" height="200" >
                            <div class="card-block">
                                <p>${team.description}</p>
                                <p>
                                    <input type="submit" value="Присоединиться к команде" />
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">&{team.name}</div>
                            <img class="card-img-top img-fluid" src="@{Teams.getPicture(team.id)}" alt="Card image cap" width="200" height="200" >
                            <div class="card-block">
                                <p>${team.description}</p>
                                <p>
                                    <input type="submit" value="Присоединиться к команде" />
                                </p>
                            </div>
                        </div>

                    </div>
                #{/list}
                </div>
            </div>

        </div>
    </div>
</div>

