#{extends './main_root.html' /}

<h1>${title}</h1>

#{if flash.error}
<p class="error"> <font color="#ff0000" size="5">&{flash.error} </font></p>
#{/if}

<div class="p-y-3 section" draggable="true">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-deck-wrapper">
                    #{list items:projects, as:'project'}
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-header">&{project.name} Переведено: ${project.done} %</div>
                            <img class="card-img-top img-fluid" src="@{Projects.getPicture(project.id)}" alt="Card image cap" width="200" height="200" >
                            <div class="card-block">
                                <p>Тип: ${project.type} #{if project.type == "сериал"}, ${project.countSeries} серий #{/if}
                                <p>Производство: ${project.country}, ${project.year} год
                                <p>
                                <form action="@{Projects.joinProject}" method="POST" accept-charset="${_response_encoding}">
                                    <input type="hidden" name="projectName" value="${project.name}"/>
                                    <input type="submit" value="Присоединиться к проекту" />
                                </form>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">&{project.name} Переведено: ${project.done} %</div>
                            <img class="card-img-top img-fluid" src="@{Projects.getPicture(project.id)}" alt="Card image cap" width="200" height="200" >
                            <div class="card-block">
                                <p>Тип: ${project.type} #{if project.type == "сериал"}, ${project.countSeries} серий #{/if}
                                <p>Производство: ${project.country}, ${project.year} год
                                <p>
                                <form action="@{Projects.joinProject}" method="POST" accept-charset="${_response_encoding}">
                                    <input type="hidden" name="projectName" value="${project.name}"/>
                                    <input type="submit" value="Присоединиться к проекту" />
                                </form>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">&{project.name} Переведено: ${project.done} %</div>
                            <img class="card-img-top img-fluid" src="@{Projects.getPicture(project.id)}" alt="Card image cap" width="200" height="200" >
                            <div class="card-block">
                                <p>Тип: ${project.type} #{if project.type == "сериал"}, ${project.countSeries} серий #{/if}
                                <p>Производство: ${project.country}, ${project.year} год
                                <p>
                                <form action="@{Projects.joinProject}" method="POST" accept-charset="${_response_encoding}">
                                <input type="hidden" name="projectName" value="${project.name}"/>
                                <input type="submit" value="Присоединиться к проекту" />
                                </form>

                                </p>
                            </div>
                        </div>
                    </div>
                    #{/list}
                </div>
            </div>
        </div>
    </div>
</div>