#{extends './main_root.html' /}

<form id="newTeam" action="@{Teams.newTeam}" method="POST" accept-charset="${_response_encoding}"  enctype="multipart/form-data">
    <table>
        <tr>
            <td><label>Название команды:</label>
            </td>
            <td><input type="text" name="name" value="${flash.name}" id="name" />
                <span class="error">#{error 'name' /}</span>
            </td>
        </tr>
        <tr>
            <td><label>Описание:</label></td>
            <td>
                <textarea name="description" cols="40" rows="3"></textarea>
                <span class="error">#{error 'name' /}</span>
            </td>
        </tr>
        <tr>
            <td><label>Картинка команды:</label>
            </td>
            <td><input type="file" name="file" />
                <span class="error">#{error 'file' /}</span>
            </td>
        </tr>
        <tr>
            <td> <input type="submit" value="Создать команду" id="team" /></td>
        </tr>
    </table>
</form>
