#{extends './main_root.html' /}

<form id="newProject" action="@{Projects.newProject}" method="POST" accept-charset="${_response_encoding}" enctype="multipart/form-data">
    <input type="hidden" name="teamId" value="${teamId}"/>
    <table>
        <tr>
            <td><label>Название проекта:</label>
            </td>
            <td><input type="text" name="name" value="${flash.name}" id="namePr"/>
                <span class="error">#{error 'name' /}</span>
            </td>
        </tr>
        <tr>
            <td><label>Тип:</label></td>
            <td>
                <input type="radio" name="type" value="сериал" checked> Сериал
                <input type="radio" name="type" value="фильм"> Фильм
            </td>
        </tr>
        <tr>
            <td><label>Страна:</label>
            </td>
            <td><input type="text" name="country" value="${flash.name}"/>
                <span class="error">#{error 'name' /}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>Год выпуска:</label>
            </td>
            <td>
                <input type="text" name="year" value="${flash.name}"/>
                <span class="error">#{error 'name' /}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>Жанр:</label>
            </td>
            <td>
                <input type="text" name="genre" value="${flash.name}"/>
                <span class="error">#{error 'name' /}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>Количество серий:</label>
            </td>
            <td>
                <input type="text" name="countSeries" value="${flash.name}"/>
                <span class="error">#{error 'name' /}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>Текущая серия:</label>
            </td>
            <td>
                <input type="text" name="numberSeries" value="1"/>
                <span class="error">#{error 'name' /}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>В ролях:</label>
            </td>
            <td>
                <input type="text" name="starring" value="${flash.name}"/>
                <span class="error">#{error 'name' /}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>Описание:</label>
            </td>
            <td>
                <textarea name="description" cols="40" rows="3"></textarea>
                <span class="error">#{error 'name' /}</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>Картинка проекта:</label>
            </td>
            <td>
                <input type="file" name="file" />
                <span class="error">#{error 'file' /}</span>
            </td>
        </tr>
        <tr>
            <td> <input type="submit" value="Создать проект" id="project" /></td>
        </tr>
    </table>
</form>